/* Main CSS file */
@import "tailwindcss";

html, body {
  max-width: 100%;
}

body {
  overflow: hidden;
}

#consent-form {
  overflow: scroll;
}

#gazeCursor {
  position: absolute;
  width: 35px;
  height: 35px;
  /* border: 2px solid rgba(255,255,255,0.3); */
  box-sizing: border-box;
  border-radius: 50%;
  pointer-events: none;
  /* visibility: hidden; */
  transform: translate(-50%, -50%);
  z-index: 3;
  box-shadow: 0 0 10px 0px #fff, -5px 0 15px 0px #f0f, 5px 0 15px 0px #0ff;
}

video {
  width: 80vw;
  height: auto;
  pointer-events: none;
}

#subtitles {
  width: 80vw;
  left: 10%;
  bottom: 15%;
  overflow: auto;
  position: absolute;
  padding: 1rem;
  text-align: center;
}

.subtitle {
  background: rgba(0,0,0,0.6);
  opacity: 0.9;
  color: white;
  padding: 0.3em;
  font-size: x-large;
}

.subtitle-item {
  margin: 0.75em;
}

.logo {
  width: 15rem;
}

